body{
    background-color: #000;    
    background-image: url('../img/fundo.png');
    background-repeat: repeat;
    
}
header{
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #491111;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;
}

.rodape{
    padding: 3%;
}


.titulos{
    line-height: 3;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    background-color: #4717178a;
    color: #180808;
}

h1{
    text-align: center;
    color: rgb(129, 9, 9);
    border: 6px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.349);
}

h2{
    text-align: center;
    color: rgb(129, 9, 9);
    border: 6px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.349);
    font-size: 1.9em;
    background-color: #4717178a;
    color: #180808;

}

h3{
    color: rgb(221, 175, 175);
    text-align: center;
    color: rgb(129, 9, 9);
    border: 6px solid rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.349);
    font-size: 1.9em;
    background-color: #4717178a;
    color: #180808;

}

p{
    color: rgb(37, 25, 25);
    background-color: rgba(0, 0, 0, 0.404);
    line-height: 1.5;
    font-size: 1.2em;
    text-align: justify;

}

table{
    color: rgb(221, 175, 175);
    text-align: center;
    border: 6px solid rgb(0, 0, 0);
    background-color: rgba(3, 3, 3, 0.349);
    justify-content: space-between
    line-height: 1,5;
    font-size: 1.1em;
    text-align: justify;
}

.tabela2{
    font-size: 1.7em;
    height: 150px;
    width: 200px;
   
}








.logo{
    
    padding: 2px;
    text-decoration: solid rgb(105, 11, 11);
   font-size: 120px;
 
  
}

nav{
    background-color: rgb(167, 73, 73);
}

main{
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section{
   
    text-align: center
   
}

footer{
    background-color: rgb(73, 5, 3);
    padding: 3%;

}


.rodape{
    padding: 3%;
}

img {
    border: 1px solid #000000;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }


.logo img{
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;s
    height: auto;
    background-color: rgba(0, 0, 0, 0.349);
    border: 6px solid rgb(0, 0, 0);
    
    
}









.caixa-imagem{
    text-align: center;
    margin-top: 1%;
}

figure img{
    display: block;
    margin: 0 auto;
    max-width: 100%;s
    height: auto;
     
}

figure figcaption{
    margin: 1.0em;
    text-align: center;
    color: rgb(236, 100, 100);
}

ul{
    text-align: center;
}



.elencotext{
    font-size: 1em;
    text-align: center;
}

.textoatores{
    font-size: 0.6em;
    text-align: left;
}





nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}


nav ul li {
    margin: 0 10px;
}


nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

.menu-icon {
    display: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

#menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .menu-icon {
        display: block;
        padding-right: 10px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #000;
        position: absolute;
        top: 60px;
        left: 0;
        z-index: 1000;
        padding: 0;
    }

    #menu-toggle:checked + .menu-icon + ul {
        display: flex;
    }

    nav ul li {
        text-align: center;
        margin: 0;
    }

    nav ul li a {
        padding: 15px 0;
    }
    
    nav ul li label {
        width: 100%;
        display: block;
    }
}




main{
    margin-top: 70px;
    padding: 20px;
    
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section{
    padding: 20px;
}
footer{
    /
    padding: 3%;
}

.logo img {
    
    max-width: 100%; 
    height: 50px;
}


h1,h2,p,li,figcaption{
    color: #fff;
}

.caixa-imagem {
    text-align: center;
    margin-top: 1%;    
}

figure {
    text-align: center;
    display: inline-block;    
}

figure img {
    display: block;
    margin: 0 auto;    
    box-shadow: 0px 4px 8px rgba(241, 4, 4, 0.7);
    max-width: 100%; 
    height: auto;
}

figure figcaption{
    margin: 1.0em;    
    text-align: center;
    color: rgb(255, 0, 0);body{
        background-color: #000;    
        background-image: url('../img/fundo.jpg');
        background-repeat: no-repeat;
        
    }
    header{
        padding: 3%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .cabecalho{
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #333;
        padding: 10px 20px;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        box-sizing: border-box;
    }
    
    .rodape{
        padding: 3%;
    }
    
    
    .titulos{
        line-height: 3;
        text-align: center;
        font-weight: bold;
    }
    
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    
    p{
        line-height: 1.5;
        font-size: 1.2em;
        text-align: justify;
    }
    
    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
    }
    
   
    nav ul li {
        margin: 0 10px;
    }
    
   
    nav ul li a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: block;
    }
    
    nav ul li a:hover {
        background-color: #555;
        border-radius: 5px;
    }
    
    .menu-icon {
        display: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
    }
    
    #menu-toggle {
        display: none;
    }
    
    @media (max-width: 768px) {
        .menu-icon {
            display: block;
            padding-right: 10px;
        }
    
        nav ul {
            display: none;
            flex-direction: column;
            width: 100%;
            background-color: #000;
            position: absolute;
            top: 60px;
            left: 0;
            z-index: 1000;
            padding: 0;
        }
    
        #menu-toggle:checked + .menu-icon + ul {
            display: flex;
        }
    
        nav ul li {
            text-align: center;
            margin: 0;
        }
    
        nav ul li a {
            padding: 15px 0;
        }
        
        nav ul li label {
            width: 100%;
            display: block;
        }
    }
    
    
    
    
    main{
        margin-top: 70px;
        padding: 20px;
        
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    section{
        padding: 20px;
    }
    footer{
       
        padding: 3%;
    }
    
    .logo img {
        
        max-width: 100%; /
        height: 50px;
    }
    
    
    h1,h2,p,li,figcaption{
        color: #fff;
    }
    
    .caixa-imagem {
        text-align: center;
        margin-top: 1%;    
    }
    
    figure {
        text-align: center;
        display: inline-block;    
    }
    
    figure img {
        display: block;
        margin: 0 auto;    
        box-shadow: 0px 4px 8px rgba(241, 4, 4, 0.7);
        max-width: 100%;
        height: auto;
    }
    
    figure figcaption{
        margin: 1.0em;    
        text-align: center;
        color: rgb(0, 0, 0);
    }

